* {
  font-family: monospace;
}
body {
  color: #777;
  background: #f7f7f7;
  font-size: 16px;
  line-height: 1.6em;
  font-weight: 300;
  text-shadow: none;
}
.mar-bot40 {
  margin-bottom: 40px;
}
.align-center {
  text-align: center;
}
.text-bold {
  font-weight: 900;
  font-size: 50px;
}
.black-text {
  font-size: 20px;
}
.text-bold-header {
  font-weight: 980;
  color: black;
}
.pad-top40 {
  padding-top: 40px;
}
blockquote.bigquote {
  border: none;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.1em;
}
.color-white.txt-shadow {
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}
.parallax-image {
  background-image: url("./ballCropped.jpg");
}
.parallax-image2 {
  background-image: url("./image12Cropped3.jpg");
}

/* TEAM SECTION */
#team {
  padding: 60px 0;
}

#team-description {
  font-size: 18px;
  padding: 10px 0;
}

#team img {
  border-radius: 10px 10px 0 0;
}

/* FOOTER */
#footer {
  background-color: black;
  height: 50px;
}
#footer-text {
  color: white;
  font-size: 20px;
  align-content: center;
}
