nav.navbar,
.navbar-default {
  background-color: #031310 !important;
}

.navbar-default {
  border: none;
  border-radius: 0;
}

.navbar-default .navbar-brand {
  color: white;
}

.navbar-default .navbar-toggle {
  border-color: white;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: grey;
}
